<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h2>{{h2}}</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form action="/action_page.php">
                    <div class="form-group">
                      <label for="food">Food:</label>
                      <input type="text" class="form-control" placeholder="Enter food" id="food">
                    </div>
                    <div class="form-group">
                      <label for="calories">Calories:</label>
                      <input type="text" class="form-control" placeholder="Enter calory" id="calories">
                    </div>
                    <div class="form-group">
                        <label for="details">Details:</label>
                        <input type="text" class="form-control" placeholder="Enter details here" id="details">
                      </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="col-md-6"></div>

        </div>
    </div>
    
</body>
</html>